/.git
/.github
/.vscode
/node_modules
/archives

# .vitepress
/docs/.vitepress/dist
/docs/.vitepress/public
/docs/.vuepress/styles

# airnode
/docs/reference/airnode/latest/assets

#ois
/docs/reference/ois/latest/assets

#dev
/docs/dev/using-metamask/src/HelloWorld.sol.js
/docs/dev/using-metamask/src/HelloWorld.sol

# The flexsearch files can be huge, skip them. 
# These are auto genereated anyway.
/indexes

# other
/docs/reference/dao-members/assets
/docs/reference/dapis/assets
/docs/reference/chainapi/assets
/docs/reference/qrng/assets
/docs/guides/assets
/docs/explore/assets
