/.git
/.github
/.vscode
/node_modules

# .vitepress
/docs/.vitepress/dist
/docs/.vitepress/public
/docs/.vuepress/styles

# airnode
/docs/reference/airnode/latest/assets

#ois
/docs/reference/ois/latest/assets

# other
/docs/reference/dao-members/assets
/docs/reference/dapis/assets
/docs/reference/chainapi/assets
/docs/reference/qrng/assets
/docs/guides/assets
/docs/explore/assets
