:root {
  --vp-home-hero-name-color: rgb(66, 184, 131);

  --vp-code-color: #36454f;

  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}

:root.dark {
  --vp-code-color: whitesmoke;
  --vp-code-bg: #36454f;
}

.VPButton {
  margin-top: 30px !important;
  margin-right: 20px !important;
  font-size: large !important;
  border-radius: 4px !important;
  width: 200px !important;
  border: #4169e1 solid 1px !important;
  padding: 7px !important;
  background-color: #4169e1 !important;
}
