/** Used for the NavBox component */
.api3-css-nav-box-flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
a {
  text-decoration: none !important;
}
/** 
 * Starting with Vitepress rc.10, inline code blocks used the color green.
 * Moved to use the default theme color. Works best with light/dark modes 
*/
code {
  color: #909090 !important;
}

:root {
  --vp-home-hero-name-color: rgb(66, 184, 131);

  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}
