name: Deploy Preview to Firebase Hosting
on:
  pull_request:
    branches-ignore:
      - live-site

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9.x

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - run: pnpm install

      - name: Build Docs
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: npm run docs:build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SA_VITEPRESS_DOCS }}'
          expires: 7d
